<ion-header>
  <ion-navbar>
    <ion-title>
      Le Freez
    </ion-title>
  </ion-navbar>
</ion-header>
<!--
<ion-content>
  <ion-searchbar (ionInput)="getLivroLivraria($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let livroLivraria of livrariaLivros">
      {{ livroLivraria }}
    </ion-item>
  </ion-list>
</ion-content>
-->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col (click)="getInfo(livroLivraria)" col-4 class="box" *ngFor="let livroLivraria of livrariaLivros">
        <img src="{{ livroLivraria.url }}">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>